@accentColor: #2f2f2f;
@backgroundColor: #545454;
@buttonColor: #7f0b94;
@datetimeSelectionColor: #f966be;
@inputDisabledColor: #a7a7a7;
@inputFocusColor: #00fff3;
@invalidFormInputColor: #ff0000;
@navBarAccentColor: #000000;
@navBarColor: #969696;
@navBarElementHover: #bd6c6c;
@priorityTodoColor: #b10000;
@textColor: #cecece;