@utilities: "../utilities";

@import "@{utilities}/utilities.less";

.bulletPoint {
    font-size: 0.5em;
}

.bulletPointWrapper {
    align-items: center;
    display: flex;
    justify-content: center;
}

.notesAppContent {
    background-color: @backgroundColor;
    padding: 10px;
}

.finalNote, .note {
    align-items: center;
    border-color: @accentColor;
    border-radius: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    color: @textColor;
    display: grid;
    max-height: 100%;
    min-height: 45%;
    padding: 10px;
    text-align: center;
    width: 20%;
}
.finalNote {
    padding: 0;
}

.addNoteIcon {
    font-size: 5em;
}
.addNoteIcon:hover {
    color: @onHoverColor;
    cursor: pointer;
}
.addNoteIcon:active {
    color: @onActiveColor;
}

.chooseNoteOption {
    align-items: center;
    border-radius: 15px;
    display: grid;
    font-size: 2em;
    height: 100%;
    user-select: none;
}
.chooseNoteOption:hover {
    cursor: pointer;
    background-color: @onHoverColor;
    color: black;
}
.chooseNoteOption:active {
    background-color: @onActiveColor;
    color: black;
}

/*.editing {
    border-color: @moreOpaqueGrey!important;
}*/

.editNoteButton {
    left: 0;
    margin: 0 0 0 10px;
    position: absolute;
}
.editNoteButton:hover {
    color: @textColor;
    cursor: pointer;
}
.editNoteButtonActive {
    color: @textColor;
}

.listType, .noteType {
    display: grid;
	grid-template-rows: 40px;
    height: 100%;
}

.listType {
    max-height: -webkit-fill-available;
}

.noteContent, .listContent {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    text-align: left;
}
.noteContent:focus, .listContent:focus, .listName:focus {
    outline: 0;
    box-shadow: 0 0 2pt 1pt @inputFocusColor;
}

.listContent {
    background-color: @backgroundColor;
    border-color: @backgroundColor;
    border-style: solid;
    border-width: 2px;
    color: @textColor;
}
.listContent:disabled {
    color: @textColor;
}

.noteContent {
    height: 100%;
}

.listItem {
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: 2.5px;
    text-align: left;
}

.listName {
    background-color: @lightPurple;
    border-color: @lightPurple;
    border-radius: 15px;
    border-style: solid;
    border-width: 2px;
    margin: 0 5px 0 0;
    padding: 2.5px;
    text-align: center;
}
.listNameEditing {
    width: 43%;
    text-align: left!important;
}

.noteContainer {
    display: block;
    grid-row: 2;
    margin: 10px;
    overflow: auto;
    padding: 5px 10px 5px 0;
}

.noteHeader {
    position: relative;
}
.noteHeaderEditing {
    justify-content: flex-end!important;
}