.accountOptions {
	padding: 0;
	margin: 0;
	width: 8%;
	position: absolute;
	right: 0;
	z-index: 10;
}

.navBarContainer {
	width: 100%;
	background-color: #8efbfb;
	overflow: hidden;
}

.navOptions {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menuElement {
	width: 8%;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	float: right;
	padding: 7px 0;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #b8ff9b;
	user-select: none;
}
.menuElement:hover {
	background-color: #40bdbd;
	color: white;
	text-decoration: underline;
}

.menuIcon {
	float: none;
	padding: 0 0 0 5px;
}

.accountOptions .menuElement {
	clear: right;
	width: 100%;
}

.spacer {
	width: 84%;
	box-sizing: border-box;
	float: right;
	border-bottom: 2px solid black;
}