body, html {
	height: 100%;
	margin: 0;
}

#content {
	height: 100%;
	display: grid;
	grid-template-rows: 6% 94%;
	position: relative;
}

.loginContainer {
	height: 100%;
	width: 100%;
	position: absolute;
}