.form {
	padding: 0 10%;
}

.formButton {
	width: 25%;
	border: 2px solid black;
	background-color: #e349ff;
	border-radius: 15px;
	margin: 5px auto;
	padding: 5px 2.5px;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
}
.formButton:hover {
	background-color: #ff7c7c;
}
.formButton:active {
	background-color: #7e7eff;
}
.formButton:focus {
	outline: 0;
	box-shadow: 0 0 2pt 1pt red;
}

.formTitle {
	text-align: center;
	margin: 0;
	padding: 0 0 10px 0;
}

.inputBox {
	line-height: 2;
	width: -webkit-fill-available;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 2px solid black;
	padding: 1px 5px;
}

.invalid {
	font-weight: bold;
	color: red;
}

.inputLabel {
	margin: 0;
}

.inputContainer {
	padding: 5px;
}

input[type=datetime-local]::-webkit-clear-button {
	display: none;
}
input[type=datetime-local]::-webkit-inner-spin-button {
	display: none;
}