.form {
	padding: 0 10%;
	margin: 0 auto;
}

.formTitle {
	text-align: center;
	margin: 0;
	padding: 15px 0;
}

.inputBox {
	line-height: 2;
	width: -webkit-fill-available;
	box-sizing: border-box;
	background-color: #ffffff;
}

.inputLabel {
	margin: 0;
}

.inputContainer {
	padding: 5px;
}