::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.schedulerContent {
	display: grid;
	grid-template-columns: 25% 50% 25%;
	width: 100%;
}

.gridElement {
	box-sizing: border-box;
	border-style: solid;
	border-color: black;
}

.leftColumn {
	grid-column: 1;
	border-width: 0 1px 0 0;
}
.middleColumn {
	grid-column: 2;
	border-width: 0 1px;
	overflow: auto;
	padding: 5px;
}
.rightColumn {
	grid-column: 3;
	border-width: 0 0 0 1px;
}

.finishedHeader {
	text-align: center;
	display: block;
	padding: 5px 0;
	border-style: solid;
	border-width: 0 0 2px 0;
}

.finishedItem {
	width: 100%;
	display: block;
	height: 10%;
	line-height: 1.5;
}

.finishedItems {
	width: 100%;
	height: 50%;
	text-align: center;
	border-style: solid;
	border-width: 0 0 2px 0;
	overflow: auto;
	overflow-x: hidden;
}

.addbutton {
	height: 7%;
	width: 30%;
	margin: 0 auto;
	border: 2px solid black;
	user-select: none;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 25px;
}

