@utilities: "../utilities";

@import "@{utilities}/utilities.less";

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.addbutton {
	height: 7%;
	width: 30%;
	margin: 0 auto;
	border: 2px solid @accentColor;
	user-select: none;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 25px;
}

.gridElement {
	box-sizing: border-box;
	border-style: solid;
	border-color: @opaqueDarkerGrey;
}

.leftColumn {
	grid-column: 1;
	border-width: 0 1px 0 0;
	display: grid;
	grid-template-rows: 65% 35%;
}
.middleColumn {
	border-width: 0 1px;
	grid-column: 2;
	overflow: auto;
	overflow-y: hidden;
	padding: 5px;
}
.rightColumn {
	grid-column: 3;
	border-width: 0 0 0 1px;
	display: grid;
	grid-template-rows: 65% 35%;
}

.schedulerContent {
	background-color: @backgroundColor;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	height: 100%;
	width: 100%;
}

.todoColumn {
	height: 90%;
	overflow: auto;
}
