@utilities: "../utilities";

@import "@{utilities}/colors.less";

.addTodoContainer {
	margin: 10px;
}

.checkboxContainer {
	display: flex;
	justify-content: center;
	color: @textColor;
}
.checkboxContainer label {
	margin: 0 10px;
}